[submodule "obsidian-help"]
	path = "Text Editors/obsidian-help"
	url = https://github.com/philipprochazka/obsidian-help.git
	branch = English
[submodule "Docker-Wiki"]
	path = Virtualisation/Docker-Wiki
	url = https://github.com/philipprochazka/Docker-wiki.git
	active = true
[submodule "mRemoteNG"]
	path = Network/Scanners/mRemoteNG
	url = https://github.com/mRemoteNG/mRemoteNG.git
	branch = v1.77.3-dev
[submodule "GitExtensions"]
	path = CI-CD_toolkit/GitExtensions
	url = https://github.com/philipprochazka/GitExtensionsDoc.git
	active = true
[submodule "vscode-python"]
	path = "Text Editors/VSCode/extensions/vscode-python"
	url = https://github.com/microsoft/vscode-python.wiki.git
	active = true
[submodule "vscode-codicons"]
	path = .obsidian/icons/vscode-codicons	
	url = https://github.com/microsoft/vscode-codicons.git
	active = true
[submodule "find-unlinked-files"]
	path = .obsidian/plugins/find-unlinked-files	
	url = https://github.com/Vinzent03/find-unlinked-files.git
	active = true
[submodule "makemd"]
	path = .obsidian/plugins/makemd	
	url = https://github.com/Make-md/makemd.git
	active = true
[submodule "obsidian-style-settings"]
	path = .obsidian/plugins/obsidian-style-settings
	url = https://github.com/mgmeyers/obsidian-style-settings.git
	active = true