# Identity Verification from A to Z

## Whether you're just getting started with identity verification or working in the industry, here you’ll find links to resources that will round out your IDV knowledge.

# What’s on the list?
    Chapter 1: What Is Identity Verification?

    Chapter 2: ID Document Authentication

    Chapter 3: Scanning & Reading ID Documentsland

    Chapter 4: Biometric Verification States

    Chapter 5: Identity Fraud

    Chapter 6: Identity Verification Toolkit

# Chapter 1:
What Is Identity Verification?
Just like any other industry, the identity verification field is full of buzzwords. So before we go further, let’s make sure we’re on the same page and sort the main terms out.